{{define "title"}}Healthcheck{{end}}
{{define "scripts"}}
{{end}}
{{define "header"}}
  <h1>Healthcheck<h1>
{{end}}
{{define "content"}}
  <section
    hx-get="/healthcheck-inner"
    hx-trigger="load, every 1s">
  </section>
  <section
    hx-get="/healthcheck-objects"
    hx-trigger="load, every 10s">
  </section>
{{end}}
{{template "skeleton" .}}
