<table>
  <tr>
    <th>Users</th>
    <td>{{.numUsers}}</td>
  </tr>
  <tr>
    <th>Services</th>
    <td>{{.numForms}}</td>
  </tr>
  <tr>
    <th>Tasks</th>
    <td>{{.numTasks}}</td>
  </tr>
</table>
