{{define "title"}}Login{{end}}
{{define "header"}}
  <h1>Login</h1>
{{end}}
{{define "content"}}
  {{with .errors}}
  <div style="
    padding: 0.4em 0.8em;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
    width: var(--width-card-wide);
    margin: 0.4em;
  ">
    {{.}}
  </div>
  {{end}}
  <section>
    <form action="/app/login" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Sign in">
      <p>New to Chrysalis? <a href="/app/register">Create an account</a></p>
    </form>
  </section>
{{end}}
{{template "skeleton" .}}
