<div style="align-content: center">
  <ul>
    <li style="display: inline">
      {{if eq .params.status "pending"}}
        <span>Pending ({{index .taskCounts "pending"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/pending">Pending ({{index .taskCounts "pending"}})</a>
      {{end}}
    </li>
    <li style="display: inline">
      {{if eq .params.status "approved"}}
        <span>Approved ({{index .taskCounts "approved"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/approved">Approved ({{index .taskCounts "approved"}})</a>
      {{end}}
    </li>
    <li style="display: inline">
      {{if eq .params.status "in progress"}}
        <span>In Progress ({{index .taskCounts "in progress"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/in progress">In Progress ({{index .taskCounts "in progress"}})</a>
      {{end}}
    </li>
    <li style="display: inline">
      {{if eq .params.status "delayed"}}
        <span>Delayed ({{index .taskCounts "delayed"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/delayed">Delayed ({{index .taskCounts "delayed"}})</a>
      {{end}}
    </li>
    <li style="display: inline">
      {{if eq .params.status "complete"}}
        <span>Complete ({{index .taskCounts "complete"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/complete">Complete ({{index .taskCounts "complete"}})</a>
      {{end}}
    </li>
    <li style="display: inline">
      {{if eq .params.status "cancelled"}}
        <span>Cancelled ({{index .taskCounts "cancelled"}})</span>
      {{else}}
        <a hx-get="/app/{{.params.username}}/services/{{.params.servicename}}/dashboard/tabs/cancelled">Cancelled ({{index .taskCounts "cancelled"}})</a>
      {{end}}
    </li>
  </ul>
</div>
<br>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Summary</th>
  </tr>
  {{range $i, $t := .tasks}}
  <tr>
  <th>
    {{$t.ClientUsername}} 
    {{with $.session}}
      {{if eq .Username $t.ClientUsername}}
        (You)
      {{end}}
    {{end}}
  </th>
  <td>
    <a style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" href="/app/{{$.params.username}}/services/{{$.params.servicename}}/tasks/{{$t.Slug}}">
      {{$t.TaskName}}
    </a>
  </td>
  <td style="width: 100%">
    {{$t.TaskSummary}}
  </td>
    {{with $.session}}
      {{if eq .Username $.params.username}}
        <td>
          <select
            style="display: inline-block"
            name="status"
            id="status"
            onChange="
              updateStatus({{$t.Slug}}, this.value)
            "
          >
            <option
              value="pending"
              {{if eq $t.Status "pending"}}selected{{end}}
            >
              Pending
            </option>
            <option
              value="approved"
              {{if eq $t.Status "approved"}}selected{{end}}
            >
              Approved
            </option>
            <option
              value="in progress"
              {{if eq $t.Status "in progress"}}selected{{end}}
            >
              In Progress
            </option>
            <option
              value="delayed"
              {{if eq $t.Status "delayed"}}selected{{end}}
            >
              Delayed
            </option>
            <option
              value="complete"
              {{if eq $t.Status "complete"}}selected{{end}}
            >
              Complete
            </option>
            <option
              value="cancelled"
              {{if eq $t.Status "cancelled"}}selected{{end}}
            >
              Cancelled
            </option>
          </select>
        </td>
      {{end}}
    {{end}}
  </tr>
  {{end}}
</table>
