<input type="hidden" id="pageIdx" name="pageIdx" value="{{.params.status}}">
<div style="align-content: center; display: flex;" role="tablist">
  {{range $i, $s := statuses}}
    <button
      hx-get="/app/{{$.params.username}}/services/{{$.params.servicename}}/dashboard/tabs/{{hyphenize $s}}"
      hx-trigger="click, refresh{{if eq $.params.status (hyphenize $s)}}{{end}}"
      role="tab"
      aria-controls="tasktable"
      {{if eq $.params.status (hyphenize $s)}}
        aria-selected="true"
      {{else}}
        aria-selected="false"
      {{end}}
    >{{$s}} ({{index $.taskCounts $s}})</button>
  {{end}}
</div>
<br>
<table style="table-layout: fixed">
  <thead>
    <tr>
      <th style="width: 10%">User</th>
      <th style="width: 20%">Name</th>
      <th style="width: 100%">Summary</th>
      {{with $.session}}
        {{if eq .Username $.params.username}}
          <th style="width: 10%"></th>
        {{end}}
      {{end}}
    </tr>
  </thead>
  <tbody id="tasktable">
    {{range $i, $t := .tasks}}
    <tr>
    <th>
      {{$t.ClientUsername}} 
      {{with $.session}}
        {{if eq .Username $t.ClientUsername}}
          (You)
        {{end}}
      {{end}}
    </th>
    <td>
      <a style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" href="/app/{{$.params.username}}/services/{{$.params.servicename}}/tasks/{{$t.Slug}}">
        {{$t.TaskName}}
      </a>
    </td>
    <td style="width: 100%">
      {{$t.TaskSummary}}
    </td>
      {{with $.session}}
        {{if eq .Username $.params.username}}
          <td>
            <select
              style="display: inline-block"
              name="status"
              id="status"
              onChange="
                updateStatus({{$t.Slug}}, this.value)
              "
            >
              <option
                value="pending"
                {{if eq $t.Status "pending"}}selected{{end}}
              >
                Pending
              </option>
              <option
                value="approved"
                {{if eq $t.Status "approved"}}selected{{end}}
              >
                Approved
              </option>
              <option
                value="in progress"
                {{if eq $t.Status "in progress"}}selected{{end}}
              >
                In Progress
              </option>
              <option
                value="delayed"
                {{if eq $t.Status "delayed"}}selected{{end}}
              >
                Delayed
              </option>
              <option
                value="complete"
                {{if eq $t.Status "complete"}}selected{{end}}
              >
                Complete
              </option>
              <option
                value="cancelled"
                {{if eq $t.Status "cancelled"}}selected{{end}}
              >
                Cancelled
              </option>
            </select>
          </td>
        {{end}}
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
