{{define "title"}}{{.service.Name}} Dashboard{{end}}
{{define "scripts"}}
  <style>
    button[role=tab] {
      background-color: var(--color-bg);
      color: var(--color-link);
      text-transform: capitalize;
    }

    button[role=tab][aria-selected="true"] {
      background-color: var(--color-link);
      color: var(--color-bg);
    }
  </style>
  <script defer src="/static/js/dashboard.js"></script>
{{end}}
{{define "header"}}
  <h1>{{.service.Name}} Dashboard</h1>
  {{template "navbar" .}}
{{end}}
{{define "content"}}
  <div style="display: flex">
    {{with .session}}
      {{if eq .Username $.params.username}}
      <a href="/app/{{$.params.username}}/services/{{$.params.servicename}}/edit">Edit Service</a> 
      {{end}}
    {{end}}
    <a href="/app/{{.params.username}}/services/{{.params.servicename}}/form">Create Task</a>
  </div>
  <h2>Tasks</h2>
  <hr>
  <div
    id="dashboardtabs"
    style="align-content: center; display: flex;"
    role="tablist"
    {{with $.session}}
      {{if eq .Username $.params.username}}
        hx-on::after-on-load="loadSortables('{{$.params.username}}', '{{$.params.servicename}}', event.target)"
      {{else}}
        hx-on::after-on-load="setHighlight(event.target)"
      {{end}}
    {{else}}
      hx-on::after-on-load="setHighlight(event.target)"
    {{end}}
    hx-target="#dashboardcontent">
    <button
      hx-get="/app/{{$.params.username}}/services/{{$.params.servicename}}/dashboard/tabs/pending"
      hx-trigger="click, refresh"
      role="tab"
      aria-controls="dashboardcontent"
      aria-selected="true"
      data-tab="tabs"
    >Tabs</button>
    <button
      hx-get="/app/{{$.params.username}}/services/{{$.params.servicename}}/dashboard/board"
      hx-trigger="click, refresh"
      role="tab"
      aria-controls="dashboardcontent"
      aria-selected="false"
      data-tab="board"
    >Kanban</button>
  </div>
  <section
    id="dashboardcontent"
    hx-get="/app/{{$.params.username}}/services/{{$.params.servicename}}/dashboard/tabs/pending"
    hx-trigger="load"
    style="display: flex; flex-direction: column">
  </section>
{{end}}
{{template "skeleton" .}}
