{{define "title"}}{{.service.Name}} Dashboard{{end}}
{{define "header"}}
  <h1>{{.service.Name}} Dashboard</h1>
  {{template "navbar" .}}
{{end}}
{{define "content"}}
  <h2>Tasks</h2>
  <hr>
{{end}}
{{template "skeleton" .}}
