{{define "title"}}Task for {{.form.Name}} ({{.params.task}}) from {{.task.ClientUsername}}{{end}}
{{define "content"}}
  <div
    style="
    display: flex;
    flex-direction: column;
    align-items: center;"
  >
    <section
      style="
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: var(--width-card-wide);
      padding: 0.5rem;
      ">
      
      <div style="
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow);
        margin: 0.5rem;
        border-radius: var(--border-radius);
        ">
        <div style="
          height: 5px;
          background-color: var(--color-link);
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
          ">
        </div>
        <div style="
          padding: 0.5rem 1rem;
          ">
          <h2>{{.form.Name}}</h2>
          <p>{{.form.Description}}</p>
        </div>
      </div>
      <div
        style="
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: var(--width-card-wide);
        padding: 0.5rem;
        ">
        {{with $outer := .}}
          {{range $i, $a := .form.Fields}}
            {{with $curFilledField := index $outer.task.Fields $i}}
              <div style="
                display: flex;
                flex-direction: column;
                align-items: stretch;
                box-shadow: var(--box-shadow);
                margin: 0.5rem 0rem;
                padding: 0.5rem 1rem;
                border-radius: var(--border-radius);
                ">
                <div style="display: flex">
                  <h4>{{$a.Prompt}}</h4>
                </div>
                {{if eq $a.FieldType "checkbox"}}
                  <div>
                    {{range $j, $o := $a.Data.Options}}
                      <div style="display: flex; gap: 1rem; align-items: center;" >
                        <input
                          style="margin-bottom: 0"
                          type="checkbox"
                          disabled
                          {{if and $curFilledField.Filled (contains $o $curFilledField.Data.SelectedOptions)}}
                            checked
                          {{end}}>
                        <span
                        style="
                          margin-bottom: 0;
                        ">
                          {{$o}}
                        </span>
                      </div>
                    {{end}}
                  </div>
                {{end}}
                {{if eq $a.FieldType "radio"}}
                  <div>
                    {{range $j, $o := $a.Data.Options}}
                      <div style="display: flex; gap: 1rem; align-items: center;" >
                        <input
                          style="margin-bottom: 0"
                          type="radio"
                          disabled
                          {{if and $curFilledField.Filled (eq $o $curFilledField.Data.SelectedOption)}}
                            checked
                          {{end}}>
                        <span
                        style="
                          margin-bottom: 0;
                        ">
                          {{$o}}
                        </span>
                      </div>
                    {{end}}
                  </div>
                {{end}}
                {{if eq $a.FieldType "text"}}
                  <div>
                    {{if $curFilledField.Filled}}
                      {{$curFilledField.Data.Content}}
                    {{else}}
                      -- no response --
                    {{end}}
                  </div>
                {{end}}
              </div>
            {{end}}
          {{end}}
        {{end}}
      </div>
    </section>
  </div>
{{end}}
{{template "skeleton" .}}
