{{define "title"}}Dashboard{{end}}
{{define "scripts"}}
  <script src="/static/js/taskupdate.js"></script>
{{end}}
{{define "header"}}
  <h1>Dashboard</h1>
  {{template "navbar" .}}
{{end}}
{{define "content"}}
  <h2>Your Tasks</h2>
  <hr>
  <h2>Your Updates</h2>
  <hr>
  <div hx-get="/app/dashboard/your-task-updates" hx-trigger="load"></div>
  <h2>Your Services</h2>
  <hr>
  <ul>
    {{with $outer := .}}
      {{range .services}}
        <li>
          <h3>{{.Name}}</h3>
          <h4><a href="/app/{{$outer.session.Username}}/services/{{.Slug}}/dashboard">{{.Slug}}</a></h4>
          <p>{{.Description}}</p>
        </li>
      {{end}}
    {{end}}
  </ul>
  <a href="/app/new-service">Create New Service</a>
{{end}}
{{template "skeleton" .}}
