{{define "title"}}{{.user}}'s Services{{end}}
{{define "header"}}
  <h1>{{.user}}'s Services</h1>
{{end}}
{{define "content"}}
  {{template "navbar" .}}
  <ul>
  {{ range .services }}
    <li>
      <div>
        <h6>{{ .Name }}
        <p>{{ .Description }}
      </div>
    </li>
  {{ end }}
  </ul>
{{end}}
{{template "skeleton" .}}
