<div>
  <button onclick="markAllAsRead('{{$.session.Username}}')">Acknowledge All</button>
  <div style="display: flex; overflow: scroll;">
    {{range $k, $updateGroup := .updates}}
      <div 
        data-task-update
        data-creator="{{$k.CreatorUsername}}"
        data-service="{{$k.ServiceIdentifier}}"
        data-task="{{$k.TaskIdentifier}}"
        class="update_card">
        <h4>
          <a
            style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis" 
            href="/app/{{$k.CreatorUsername}}/services/{{$k.ServiceIdentifier}}/tasks/{{$k.TaskIdentifier}}">
            {{$updateGroup.TaskName}}
          </a>
        </h4>
        <ul style="
          height: 100px;
          overflow: scroll;
        ">
          {{range $i, $update := $updateGroup.Updates}}
            <li>
              {{if eq .OldStatus .NewStatus}}
                Moved from position <b>{{.OldPosition}}</b> to position <b>{{.NewPosition}}</b>
              {{else}}
                Updated status to <b style="text-transform: capitalize">{{.NewStatus}}</b> and moved to position <b>{{.NewPosition}}</b>
              {{end}}
            </li>
          {{end}}
        </ul>
        <div style="display: flex; justify-content: end">
          <a href="/app/{{$k.CreatorUsername}}/services/{{$k.ServiceIdentifier}}/dashboard">
            <em>
            Service
            </em>
          </a>
          <button onclick="markAsRead('{{$k.CreatorUsername}}', '{{$k.ServiceIdentifier}}', '{{$k.TaskIdentifier}}')">Read</button>
        </div>
      </div>
    {{end}}
  </div>
</div>
