{{define "navbar"}}
  <nav>
    <ul>
      <li><a href="/app">Home</a></li>
      <li><a href="/app/dashboard">Dashboard</a></li>
    </ul>
    <ul>
      <li><a href="/app/login">Login</a></li>
      <li><a href="/app/register">Register</a></li>
      <li><a href="/app/logout">Logout</a></li>
    </ul>
  </nav>
{{end}}
