{{define "title"}}{{.User}}'s Services{{end}}
{{define "content"}}
  <h1>{{.User}}'s Services</h1>
  <ul>
  {{ range .Services }}
    <li>
      <div>
        <h6>{{ .Name }}
        <p>{{ .Description }}
      </div>
    </li>
  {{ end }}
  </ul>
{{end}}
{{template "skeleton" .}}
